<!DOCTYPE html>
<html>
    <head>
        <title>Link Sent!</title>
    </head>
    <body style="text-align: center">
        <h1>Please check your email</h1>
        <p>We've emailed you a new link. Please use it within the next 24 hours.</p>
    </body>
</html>