<!DOCTYPE html>
<html>
    <head>
        <title>Account Verified</title>
    </head>
    <body style="text-align: center">
        <h1>Account Verified! :-)</h1>
        <p>Your account has been verified. You can close this tab and log in normally.</p>
    </body>
</html>