<!DOCTYPE html>
<html>
    <head>
        <title>Oops!</title>
    </head>
    <body style="text-align: center">
        <h1>Something went wrong :-(</h1>
        <p>We couldn't verify your account. This is probably because your link expired.</p>
        <a href="https://skilltreats.com/api/user/{{id}}/refresh">Get a new link sent to your email</a>
    </body>
</html>